<div class="container body-content">
    <div class="row">
        <h2>TOP 10 HOTTEST ALBUMS!1!!!12!</h2>
        <div class="col-md-12">
            <ul>
                {{#each top}}
                    <li><a href="album/details/{{this.id}}">{{this.name}}</a> - {{this.likes}} likes</li>
                {{/each}}
            </ul>
        </div>
        <div class="col-md-12">
            <div class="well">
                <h4>Seperate the tags with commas!</h4>
                <form class="navbar-form" id="albumForm" method="POST" action="/searchalbums">
                    <fieldset>
                        <legend>Search Album by Tags Title or Theme</legend>
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="searchtags">Album Gluposti</label>
                            <div class="col-sm-4 ">
                                <input type="text" class="form-control" id="searchtags" placeholder="Tags" name="searchtags" required >
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-4">
                                <button type="submit" form="albumForm" class="btn btn-primary">Search</button>
                            </div>
                        </div>

                    </fieldset>
                </form>
                <form class="navbar-form" id="pictureForm" method="POST" action="/searchphotos">
                    <fieldset>
                        <legend>Search Picture by Tags</legend>
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="searchtags">Picture Gluposti</label>
                            <div class="col-sm-4 ">
                                <input type="text" class="form-control" id="searchtags" placeholder="Tags" name="searchtags" required >
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-4">
                                <button type="submit" form="pictureForm" class="btn btn-primary">Search</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <h2>All albums</h2>
        {{#each albums}}
            <div class="col-md-6">
                <div>
                    <article>
                        <header>
                            <h2>{{this.name}}</h2>
                        </header>

                        <p>{{this.theme}}
                        </p>

                        <small class="author">
                            {{this.author.fullName}}
                        </small>

                        <footer>
                            <div class="pull-right">
                                <a class="btn btn-default btn-xs" href="/album/details/{{this.id}}">View &raquo;</a>
                            </div>
                        </footer>
                    </article>
                </div>
            </div>
        {{/each}}
        {{#each photos}}
            <a href="{{path}}" download="image"><img src="{{path}}" alt="Image"
                                                     style="width: 150px; height: 150px; border: 1px solid black; border-radius: 15%"></a>
        {{/each}}
    </div>
</div>

