<div class="container body-content">
    <div class="row">
        <h2>TOP 10 HOTTEST ALBUMS!1!!!12!</h2>
        <div class="col-md-12">
            <ul>
                {{#each top}}
                    <li><a href="album/details/{{this.id}}">{{this.name}}</a> - {{this.likes}} likes</li>
                {{/each}}
            </ul>
        </div>
        {{#each albums}}
            <div class="col-md-6">
                <div>
                    <article>
                        <header>
                            <h2>{{this.name}}</h2>
                        </header>

                        <p>{{this.theme}}
                        </p>

                        <small class="author">
                            {{this.author.fullName}}
                        </small>

                        <footer>
                            <div class="pull-right">
                                <a class="btn btn-default btn-xs" href="/album/details/{{this.id}}">View &raquo;</a>
                            </div>
                        </footer>
                    </article>
                </div>
            </div>
        {{/each}}
    </div>
</div>

