<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <article>
                <header>
                    <h2>{{name}}</h2>
                </header>

                <p>{{theme}}
                </p>

                <small class="author">
                    {{author.fullName}}
                </small>

                {{#each photos}}
                    <a href="{{path}}" download="image"><img src="{{path}}" alt="Image"
                                                             style="width: 150px; height: 150px; border: 1px solid black; border-radius: 15%"></a>
                {{/each}}

                <footer>
                    <div class="pull-right">
                        <a class="btn btn-default btn-xs" href="/">Back &raquo;</a>
                    </div>
                    {{#if hasRights}}
                        <div class="pull-right">
                            <a class="btn btn-success btn-xs" href="/album/addphoto/{{id}}">Add Photo </a>
                        </div>
                        <div class="pull-right">
                            <a class="btn btn-success btn-xs" href="/album/edit/{{id}}">Edit Album </a>
                        </div>
                        <div class="pull-right">
                            <a class="btn btn-danger btn-xs" href="/album/delete/{{id}}">Delete Album</a>
                        </div>
                    {{/if}}
                </footer>
            </article>
        </div>
    </div>
</div>
