<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <article>
                <header>
                    <h2>{{name}}</h2>
                </header>

                <p class="lead">{{theme}}
                </p>
                <p>
                    Likes: {{likes}}
                </p>

                <small class="author">
                    {{author.fullName}}
                </small>

                {{#if photos}}
                    <h4>Click on any photo to download it</h4>
                {{/if}}
                {{#unless photos}}
                    <h4>No photos</h4>
                {{/unless}}

                <div id="photos">
                    {{#each photos}}
                        <a href="{{path}}" download="image"><img src="{{path}}" alt="Image"
                                                                 style="height: 200px;border: 1px solid black; border-radius: 15%"></a>
                    {{/each}}
                </div>


                <footer>
                    <div class="pull-right">
                        <a class="btn btn-default btn-xs" href="/">Back &raquo;</a>
                    </div>
                    {{#if hasRights}}
                        <div class="pull-right">
                            <a class="btn btn-success btn-xs" href="/album/addphoto/{{id}}">Add Photo </a>
                        </div>
                        <div class="pull-right">
                            <a class="btn btn-danger btn-xs" href="/album/deletephoto/{{id}}">Delete Photo</a>
                        </div>
                        <div class="pull-right">
                            <a class="btn btn-success btn-xs" href="/album/edit/{{id}}">Edit Album </a>
                        </div>
                        <div class="pull-right">
                            <a class="btn btn-danger btn-xs" href="/album/delete/{{id}}">Delete Album</a>
                        </div>
                    {{/if}}
                    {{#if canLike}}
                        <div class="pull-right">
                            <a class="btn btn-success btn-xs" href="/album/like/{{id}}">Like</a>
                        </div>
                    {{/if}}
                    {{#if canDislike}}
                        <div class="pull-right">
                            <a class="btn btn-danger btn-xs" href="/album/dislike/{{id}}">Dislike</a>
                        </div>
                    {{/if}}
                </footer>
            </article>
        </div>
    </div>
</div>
